body,h1,h2,h3,h4,h5,ul,li,input{
    margin:0;padding:0;
    list-style:none;
}
a{
    text-decoration:none;
    margin:0;padding:0;
}
img{
    border:none;
}
body{
    background:#f4f4f4;
}
.nav{
    width:100%;height:106px;
    background:#f2f3f4;
}
.copy{
    width:70px;height:31px;
    margin-left:218px;
    margin-top:41px;
    float:left;
}
.nav-cont{
    width:920px;height:106px;
    line-height:106px;
    margin-left:120px;
    float:left;
}
.nav-cont a{
    display:block;
    width:120px;height:106px;
    text-align:center;
    margin:0 16px;
    color:#5c5c5c;
    float:left;
}
.nav-cont a:hover{
    color:#fff;
    background:#5583ba;
}
/*banner*/
.banner{
    width:100%;height:680px;
    padding-top:1px;
    background:url(../image/banner.jpg);
    position:relative;
}
.banner-font{
    width:305px;height:51px;
    margin-top:180px;
    margin-left:244px;
    font-size:20px;
    color:#fff;
}
.add{
    width:46px;height:46px;
    background:url(../image/add.png);
    margin-top:66px;
    margin-left:244px;
}
.banner-font1{
    width:308px;height:116px;
    margin-top:66px;
    margin-left:244px;
    font-size:50px;
    color:#fff;
    font-weight:bold;
}
.action{
    width:235px;height:59px;
    background:#45b6f1;
    line-height:59px;
    position:absolute;
    right:220px;bottom:165px;
}
.action a{
    display:block;
    width:235px;height:59px;
    color:#fff;
    font-size:22px;
    text-align:center;
}

.family{
    width:100%;height:686px;
    background:#fff;
    padding-top:1px;
}
.fm-font{
    width:100%;height:56px;
    font-size:18px;
    line-height:26px;
    color:#929292;
    text-align:center;
    margin-top:45px;
}
.fm-solid{
    width:127px;height:1px;
    margin:0 auto;
    border-bottom:1px solid rgba(146, 146, 146, 0.22);
    margin-top:10px;
}
.fm-font1{
    width:100%;height:40px;
    font-size:14px;
    line-height:22px;
    color:#3a3a3a;
    text-align:center;
    margin-top:15px;
}
.fm-box{
    width:885px;height:370px;
    margin:0 auto;
    margin-top:30px;
}
.fm-boxl{
    width:426px;height:370px;
    float:left;
}
.fm-boxr{
    width:426px;height:370px;
    float:right;
}
.fm-boxl1{
    width:426px;height:240px;
    background:url(../image/jhjg.jpg);
}
.fm-boxl1 a{
    display:block;
    width:425px;height:240px;
    padding-top:1px;
}
.fm-boxl1-demo{
    width:426px;height:50px;
    background: rgba(0, 0, 0, 0.3);
    margin-top:190px;
    line-height:50px;
    color:#eee;
    font-size:20px;
    text-align:right;
    opacity:0;
}
.fm-boxl1-demo:hover{
    opacity:1;
}
.fm-bottom-left{
    width:260px;height:130px;
    float:left;
}
.fm-box-font{
   width:180px;height:45px;
    line-height:45px;
    font-size:16px;
    color:#a4a4a4;
}
.fm-box-font1{
    width:260px;height:80px;
    line-height:22px;
    font-size:12px;
    color:#a4a4a4;
}
.xinxi{
    width:100%;height:786px;

}
.xinxi-font{
    width:100%;height:20px;
    font-size:16px;
    text-align:center;
    color:#7c7c7c;
    margin-top:30px;
}
.xinxi-font1{
    width:100%;height:42px;
    font-size:12px;
    text-align:center;
    line-height:22px;
    color:#7c7c7c;
    margin-top:10px;
}
.xinxi-box{
    width:890px;height:225px;
    margin:0 auto;
    margin-top:90px;
    border-bottom:1px solid #c1c1c1;
}
.xinxi-boxl{
    width:175px;height:175px;
    background:url(../image/toux.jpg) no-repeat -30px 0;
    border-radius:50%;
    float:left;
}
.xinxi-boxr{
    width:660px;height:225px;
    float:right;
}
.xinxi-box-font{
    width:120px;height:38px;
    line-height:38px;
    color:#7c7c7c;
    font-size:14px;
}
.xinxi-box-font1{
    width:330px;height:35px;
    line-height:22px;
    color:#a4a4a4;
    font-size:12px;
    margin-top:15px;
}
.zuji-left-bm{
    width:155px;height:41px;
    background:#2b9bd6;
    margin-top:85px;
    float:right;
}
.zuji-left-bm a{
    display:block;
    width:155px;height:41px;
}
.zuji-left-font1{
    width:106px;height:41px;
    text-align:center;
    line-height:41px;
    font-size:16px;
    color:#fff;
    float:left;
}
.zuji-left-img{
    width:9px;height:41px;
    background:url(../image/c.png) no-repeat 0 15px;
    margin-right:30px;
    float:right;
}
.zuji-left-bm1{
    width:155px;height:41px;
    background:#2b9bd6;
    margin-top:50px;

}
.zuji-left-bm1 a{
    display:block;
    width:155px;height:41px;
}
.bottom{
    width:100%;height:848px;
    padding-top:1px;
    background:url(../image/csssdcdc.jpg);
    margin-top:45px;
}
.bottom-bkd{
    width:1200px;height:620px;
    margin-top:90px;
    margin-left:266px;
}
.item{
    width:900px;height:620px;
    float:left;
}
.item-bk{
    width:275px;height:80px;
    background:url(../image/logo.png);
}
.item-bk a{
    display:block;
    width:275px;height:80px;
}

.map a{
    display:block;
    width:414px;height:290px;
    background:url(../image/map.jpg);
    margin-top:85px;
}
.bm-font{
    width:900px;height:120px;
    margin-top:45px;
}
.bm-font1{
    width:900px;height:22px;
    line-height:22px;
    font-size:12px;
    color:#d5cdcc;
}
.bm-font2{
    width:900px;height:44px;
    line-height:20px;
    font-size:12px;
    color:#d5cdcc;
}
.wx{
    width:155px;height:230px;
    float:right;
}
.wx-font{
    width:70px;height:14px;
    line-height:14px;
    font-size:12px;
    color:#fff;
}
.wx-img{
    width:150px;height:150px;
    line-height:14px;
    font-size:12px;
    color:#fff;
    background:url(../image/ewm.jpg);
}
.wx-img a{
    display:block;
    width:150px;height:150px;
}
.wx-font1{
    width:150px;height:32px;
    line-height:30px;
    font-size:30px;
    color:#fff;
    margin-top:30px;
    font-weight:bold;
}