html{
    font-family:"微软雅黑";
    font-size:100px;
}
body,h1,h2,h3,h4,h5,h6,ul,li,input{
    margin:0;
    padding:0;
    list-style:none;
}
*{
    box-sizing:border-box;

}
a{
    text-decoration:none;
    margin:0;
    padding:0;
}
img{
    padding:0;margin:0;
}
@media screen and (max-width:375px){
    html{
        font-size:50px;
    }
}
@media screen and (max-width:360px){
    html{
        font-size:48px;
    }
}
@media screen and (max-width:320px){
    html{
        font-size:42.666667px;
    }
}
.top{
    width:7.50rem;height:4.76rem;
    padding-top:0.01rem;
    background:#29a6dc;
    margin:0 auto;
    position:relative;
}
.top-font{
    width:1.30rem;height:0.34rem;
    line-height:0.34rem;
    margin:0 auto;
    margin-top:0.76rem;
    text-align:center;
    font-size:0.32rem;
    color:#f2f2f2;
}
.top-img{
    width:1.75rem;height:1.07rem;
    background:url(../image/denglu.png);
    background-size:1.75rem 1.07rem;
    margin:0 auto;
    margin-top:0.37rem;
}
.top-circle a{
    display:block;
    width:0.44rem;height:0.44rem;
    background:#fafafa;
    text-align:center;
    border:0.02rem solid #076cbe;
    border-radius:50%;
    line-height:0.38rem;
}
.top-circle{
    width:0.44rem;height:0.44rem;
    font-size:0.3rem;
    position:absolute;
    top:0.67rem;left:0.25rem;
}
.bottom{
    width:7.50rem;height:8.58rem;
    padding-top:0.01rem;
    background:#f2f2f2;
    margin:0 auto;
}

.bottom-font{
    width:5.80rem;height:0.25rem;
    margin-top:1.45rem;
    margin-left:0.77rem;
    font-size:0.24rem;
    color:#0a196b;
    line-height:0.25rem;
}
.bottom-font1{
    width:1.35rem;height:0.25rem;
    margin-top:0.18rem;
    margin-left:5.55rem;
    font-size:0.24rem;
    color:#0a196b;
    line-height:0.25rem;
}

.bottom-content{
    width:6.16rem;height:0.88rem;
    margin:0 auto;
    overflow:hidden;
    margin-top:1.00rem;
    position:relative;
}
#bottom-input{
    display:block;
    width:6.16rem;height:0.88rem;
    border:0.01rem solid #3a91fd;
    border-radius:0.44rem;
    padding-left:1.22rem;
    font-size:0.26rem;

}
.bottom-content img{
    display:block;
    width:0.44rem;height:0.44rem;
    position:absolute;
    top:0;bottom:0;
    margin:auto;
    margin-left:0.44rem;
}
.bottom-content1{
    width:6.16rem;height:0.88rem;
    margin:0 auto;
    overflow:hidden;
    margin-top:0.38rem;
    position:relative;
}
.bottom-content1 img{
    display:block;
    width:0.44rem;height:0.44rem;
    position:absolute;
    top:0;bottom:0;
    margin:auto;
    margin-left:0.44rem;
}
/*注册*/
.bottom-a{
    width:5.20rem;height:0.25rem;
    margin:0 auto;
    margin-top:0.36rem;
}
.denglu{
    width:1.40rem;height:0.25rem;
    float:left;
    line-height:0.25rem;

}
.zhuce{
    width:1.40rem;height:0.25rem;
    float:right;
    line-height:0.25rem;

}
.bottom-a img{
    width:0.25rem;height:0.25rem;
    float:left;
}
.bottom-a div{
    width:1rem;height:0.25rem;
    margin-left:0.15rem;
    font-size:0.20rem;
    float:left;
    color:#666666;
}

/*提交*/
.bottom-submit{
    width:5.64rem;height:0.68rem;
    margin:0 auto;
    overflow:hidden;
    margin-top:0.96rem;
    position:relative;
}
#bottom-input1{
    display:block;
    width:5.64rem;height:0.68rem;
    background:#3abffd;
    border-radius:0.34rem;
    border:none;
    font-size:0.26rem;
    color:#fff;
    cursor:pointer;
}

