html{
    font-family:"微软雅黑";
    /*font-size:100px;*/
}
body,h1,h2,h3,h4,h5,h6,ul,li,input{
    padding:0;margin:0;
    border:none;
    list-style:none;
}
/*body{*/
    /*position:relative;*/
/*}*/
img{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    padding:0;margin:0;
}
@media screen and (min-width:320px){
    html{
        font-size:42.66667px;
    }
}
@media screen and (min-width:360px){
    html{
        font-size:48px;
    }
}
@media screen and (min-width:375px){
    html{
        font-size:50px;
    }
}
@media screen and (min-width:414px){
    html{
        font-size:55.2px;
    }
}
@media screen and (min-width:540px){
    html{
        font-size:72px;
    }
}
@media screen and (min-width:750px){
    html{
        font-size:100px;
    }
}
.top{
    width:7.5rem;height:1.39rem;
    padding-top:0.01rem;
    background:#29a6dc;
    margin:0 auto;
    position:relative;
}
.top-font{
    width:1.5rem;height:0.36rem;
    line-height:0.36rem;
    text-align:center;
    font-size:0.34rem;
    color:#fff;
    margin:0 auto;
    margin-top:0.5rem;
}
.top-img{
    width:0.37rem;height:0.06rem;
    background:url(../image/index.png);
    background-size:0.37rem 0.06rem;
    margin:0 auto;
    margin-top:0.06rem;
}
.top-font1{
    width:auto;height:0.18rem;
    line-height:0.18rem;
    text-align:center;
    font-size:0.14rem;
    color:#72dbf9;
    margin:0 auto;
    margin-top:0.08rem;
}
@font-face {
    font-family: 'iconfont';  /* project id 222790 */
    src: url('//at.alicdn.com/t/font_atgv2drsobikke29.eot');
    src: url('//at.alicdn.com/t/font_atgv2drsobikke29.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_atgv2drsobikke29.woff') format('woff'),
    url('//at.alicdn.com/t/font_atgv2drsobikke29.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_atgv2drsobikke29.svg#iconfont') format('svg');
}
/*.inconaa{*/
    /*font-family:"";*/
/*}*/
.top-left{
    font-family: 'iconfont';
    width:0.44rem;height:0.44rem;
    background:#fff;
    font-size:0.26rem;
    color:#29a6dc;
    line-height:0.44rem;
    text-align:center;
    border:0.03rem solid #1074b5;
    border-radius:50%;
    position:absolute;
    left:0.24rem;bottom:0.25rem;
}
.top-right{
    font-family: 'iconfont';
    width:0.44rem;height:0.44rem;
    background:#fff;
    font-size:0.26rem;
    color:#29a6dc;
    line-height:0.44rem;
    text-align:center;
    border:0.03rem solid #1074b5;
    border-radius:50%;
    position:absolute;
    right:0.24rem;bottom:0.25rem;
}
.content{
    width:7.5rem;height:auto;
    background:#fafafa;
    padding-top:0.01rem;
    margin:0 auto;

}

.grzx{
    width:7.02rem;height:3.58rem;
    background:#fff;
    border-radius:0.1rem;
    margin:0 auto;
    margin-top:0.3rem;
    box-shadow:0 0 0.1rem 0.05rem #e7e7e7;

}
.grzx li{
    width:7.02rem;height:0.86rem;
    border-bottom:0.03rem dotted #959595;
}
.left-box{
    width:2rem;height:0.45rem;
    margin-top:0.22rem;
    margin-left:0.2rem;
    float:left;
}
.left-boxcircle{
    font-family:"iconfont";
    width:0.32rem;height:0.32rem;
    background:#3a63fd;
    border-radius:50%;
    font-size:0.20rem;
    color:#fff;
    line-height:0.36rem;
    text-align:center;
    margin-top:0.04rem;
    float:left;
}
.right-boxfont{
    width:1.6rem;height:0.45rem;
    float:right;
}
.right-boxfont1{
    width:1rem;height:0.25rem;
    font-size:0.24rem;
    line-height:0.25rem;
    color:#333333;
}
.right-boxfont2{
    width:auto;height:0.14rem;
    font-size:0.12rem;
    line-height:0.14rem;
    color:#333333;
    margin-top:0.06rem;
}
.right-box{
    display:block;
    width:0.62rem;height:0.24rem;
    float:right;
    margin-top:0.35rem;
    margin-right:0.3rem;
}
.right-box1{
    display:block;
    width:0.65rem;height:0.3rem;
    border-radius:0.18rem;
    border:0.03rem solid #d9e1ff;
    padding-top:0.03rem;
    background:#0365e0;
    float:right;
    margin-top:0.35rem;
    margin-right:0.3rem;
}
.right-box1 div{
    width:0.28rem;height:0.28rem;
    border-radius:50%;
    background:#fff;
    margin-left:0.35rem;
}
.right-rboxfont{
    width:0.5rem;height:0.24rem;
    font-size:0.2rem;
    line-height:0.24rem;
    color:#3a3a3a;
    float:left;
}
.right-rboximg{
    width:0.09rem;height:0.17rem;
    background:url(../image/right.png);
    background-size:0.09rem 0.17rem;
    float:right;
    margin-top:0.03rem;
}
.grzx li:last-child{
    border-bottom:none;
}
.box-input{
    width:5.65rem;height:0.7rem;
    margin:0 auto;
    margin-top:6.6rem;
    padding-bottom:0.85rem;
}
#tc-input{
    width:5.65rem;height:0.7rem;
    display:block;
    border-radius:0.35rem;
    background:#28dd8b;
    font-size: 0.28rem;
    color:#fff;
}
@font-face {
    font-family: 'iconfont';  /* project id 222790 */
    src: url('//at.alicdn.com/t/font_6qdhzguy4e56d2t9.eot');
    src: url('//at.alicdn.com/t/font_6qdhzguy4e56d2t9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_6qdhzguy4e56d2t9.woff') format('woff'),
    url('//at.alicdn.com/t/font_6qdhzguy4e56d2t9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_6qdhzguy4e56d2t9.svg#iconfont') format('svg');
}
.shadow{
    width:7.5rem;height:100rem;
    background:rgba(0, 0, 0, 0.34);
    position:fixed;
    top:0;
    left:0;right:0;margin:auto;
    z-index:9;
}
.sw-box{
    width:4.8rem;height:2.95rem;
    background:#fff;
    border-radius:0.15rem;
    position:fixed;
    top:0;bottom:0;
    left:0;right:0;
    margin:auto;
    z-index:10;
}
.sw-boxtop{
    width:4.8rem;height:0.81rem;
    border-top-left-radius:0.15rem;
    border-top-right-radius:0.15rem;
    padding-top:0.01rem;
    background:#29dcbc;
}
.sw-boxtop-box {
    width: 3.1rem;
    height: 0.4rem;
    margin-left: 0.54rem;
    margin-top: 0.26rem;
    float: left;
}
.sw-boxtop-box-circle{
    font-family:"iconfont";
    font-size:0.18rem;
    color:#29dcbc;
    text-align:center;
    line-height:0.36rem;
    width:0.36rem;height:0.36rem;
    background:#fff;
    border-radius:50%;
    float:left;
    margin-top:0.01rem;
}
.sw-boxtop-box-content{
    width:2.6rem;height:0.4rem;
    float:right;
}
.sw-boxtop-box-content-font{
    width:2.6rem;height:0.24rem;
    line-height:0.24rem;
    font-size:0.2rem;
    color:#fff;
}
.sw-boxtop-box-content-font1{
    width:2.6rem;height:0.16rem;
    line-height:0.20rem;
    font-size:0.12rem;
    color:#fff;
}
.sw-box-font{
    width:0.86rem;height:0.28rem;
    font-size:0.26rem;
    color:#333333;
    line-height:0.28rem;
    text-align:center;
    margin:0 auto;
    margin-top:0.38rem;
}
.sw-box-font1{
    width:1.45rem;height:0.14rem;
    font-size:0.12rem;
    color:#333333;
    line-height:0.14rem;
    text-align:center;
    margin:0 auto;
    margin-top:0.08rem;
}
.sw-box-font2{
    width:2.2rem;height:0.24rem;
    font-size:0.22rem;
    color:#333333;
    line-height:0.24rem;
    text-align:center;
    margin:0 auto;
    margin-top:0.08rem;
}